.App {
  margin: 1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
i {
  color: red;
}
h1 {
  font-family: "Amatic SC";
  font-size: 3rem;
  margin-bottom: 0.3rem;
  margin-top: 0.2rem;
}
img {
  width: 130px;
  border: 5px solid white;
}

.ans-fields p {
  margin-top: 0;
  letter-spacing: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.lives {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  width: 140px;
}
.input-btns {
  display: grid;
  grid-template-columns: repeat(6, 0.5fr);
  gap: 0.1em;
  margin-bottom: 1em;
}
.input-btns div {
  background-color: rgb(129, 203, 228);
  text-align: center;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
.input-btns div:hover {
  opacity: 0.8;
}
.disabled {
  background-color: rgb(196, 194, 194) !important;
  color: black !important;
  opacity: 0.7;
  cursor: not-allowed !important;
}
button {
  background-color: rgb(129, 203, 228);
  color: white;
  border: none;
  outline: none;
  padding: 1.2em;
  border-radius: 0.5rem;
  cursor: pointer;
}
